<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <!-- The value of href is different because of the way files are handled Flask -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- These are links for the font style 'fira sans' and 'Montserrat'-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
        {% block head %} {% endblock %}
    </head>
    <body>
        <nav>
            <ul class="navigation_container" >
                <li><a class="navigation_link {% block index %}{% endblock %}" href="{{ url_for('index') }}" >Home</a></li>
                <li><a class="navigation_link {% block about %}{% endblock %}" href="{{ url_for('about') }}" >About</a></li>
                <li><a class="navigation_link {% block documentation %}{% endblock %}" href="{{ url_for('documentation') }}" >Documentation</a></li>
                <li><a class="navigation_link {% block search %}{% endblock %} navigation_link_image" href="{{ url_for('search') }}" ><img src=" {{ url_for('static', filename='images/search_logo.svg') }}"></a></li>
            </ul>
        </nav>

        {% block content %} {% endblock %}

        <footer>
            <div class="row">
                <div class="col-4 get_files">
                    <p>Get your scripts and subtitles here:</p>
                    <ul>
                        <li><a href="https://www.opensubtitles.com/en">OpenSubtitles <span class="extra_info_footer">- subtitles</span></a></li>
                        <li><a href="https://imsdb.com/">IMSDb <span class="extra_info_footer">- movie scripts</span></a></li>
                    </ul>
                 </div>
                <div class="col-4 used_modules">
                    <p>The used modules:</p>
                    <ul>
                        <li><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask <span class="extra_info_footer">- web development</span></a></li>
                        <li><a href="https://docs.python.org/3/library/re.html">Regular Expressions <span class="extra_info_footer">- text editing</span></a></li>

                    </ul>
                </div>
                <div class="col-4 other_information">
                    <p>Other information:</p>
                    <ul>
                        <li><a href="https://github.com/bbjoverbeek/Error_Group_name_not_found">GitHub <span class="extra_info_footer">- our repository</span></a></li>
                        <li><a href="https://www.rug.nl/">RUG <span class="extra_info_footer">- university</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row logo_rug">
                <div class="col-4">
                    <a href="https://www.rug.nl/"><img src=" {{ url_for('static', filename='images/rug_logo.png') }}"></a>
                </div>
            </div>
        </footer>
    </body>
</html>