{% extends "layout.html" %}

{% block head %} 

<title>Output</title>

{% endblock %}

{% block content %} 

<div class="row other_header">
    <div class="col-12">
        <h1>
            Output
        </h1>
    </div>
</div>


<div class="row content">
    <div class="col-8 body_text">
        <p class="average_rating">The average similarity ratio was: {{ average_ratio }}</p>

        <div class="download_list">
            <div class="download_list">
                {% if script_file_option == "True" %}
                    <a class="download_button" href="{{ url_for('download_file', filename='script' + process_number + '.json') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg>
                        <p>Download the script</p>
                    </a>
                {% endif %}

                {% if subtitles_file_option == "True" %}
                    <a class="download_button" href="{{ url_for('download_file', filename='subtitles' + process_number + '.json') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg>
                        <p>Download the subtitles</p>
                    </a>
                {% endif %}
            </div>
        </div>

        <h2 class="output_heading" id="subtitles_output_heading" >Subtitles output</h2>

        <div id="subtitles_output">
            {% for item in subtitles_dict.items() %}
            {% if item | has_character_name() %}
                <div class="has_character_item_sub">
                    <div class="line_information_sub" >
                        <div class="line_number_sub">
                            Line: {{ item[0] }}
                        </div>
                        <div class="time_sub"> 
                            {{ item[1]['time'] }}
                        </div>
                    </div>
                    <div class="character_dialogue_sub">
                        <div class="character_name_sub">
                            {{ item[1]['character'] }}
                        </div>
                        <div class="dialogue_sub">
                            {{ item[1]['text'] }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="other_item_sub">
                    <div class="line_information_sub" >
                        <div class="line_number_sub">
                            Line: {{ item[0] }}
                        </div>
                        <div class="time_sub"> 
                            {{ item[1]['time'] }}
                        </div>
                    </div>
                    <div class="character_dialogue_sub">
                        <div class="dialogue_sub">
                            {{ item[1]['text'] }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <h2 class="output_heading" id="script_output_heading" >Script output</h2>

        <div id="script_output">
            {% for item in script_dict.items() %}
                {% if item | is_type("character") %}
                <div class="has_character_item_script">
                    <div class="line_information_script" >
                        <div class="line_number_script">
                            Line: {{ item[0] }}
                        </div>
                        <div class="type_of_data_script"> 
                            character & dialogue
                        </div>
                    </div>
                    <div class="character_dialogue_script">
                        <div class="character_name_script">
                            {{ item[1]['character'] }}
                        </div>
                        <div class="dialogue_script">
                            {{ item[1]['dialogue'] }}
                        </div>
                    </div>
                </div>
                {% elif item | is_type("metadata") %}
                <div class="other_item_script">
                    <div class="line_information_script" >
                        <div class="line_number_script">
                            Line: {{ item[0] }}
                        </div>
                        <div class="type_of_data_script"> 
                            metadata
                        </div>
                    </div>
                    <div class="character_dialogue_script">
                        <div class="dialogue_sub_script">
                            {{ item[1]['metadata'] }}
                        </div>
                    </div>
                </div>
                {% elif item | is_type("scene boundary") %}
                <div class="other_item_script">
                    <div class="line_information_script" >
                        <div class="line_number_script">
                            Line: {{ item[0] }}
                        </div>
                        <div class="type_of_data_script"> 
                            scene boundary
                        </div>
                    </div>
                    <div class="character_dialogue_script">
                        <div class="dialogue_script">
                            {{ item[1]['scene boundary'] }}
                        </div>
                    </div>
                </div>
                {% elif item | is_type("scene description") %}
                <div class="other_item_script">
                    <div class="line_information_script" >
                        <div class="line_number_script">
                            Line: {{ item[0] }}
                        </div>
                        <div class="type_of_data_script"> 
                            scene description
                        </div>
                    </div>
                    <div class="character_dialogue_script">
                        <div class="dialogue_script">
                            {{ item[1]['scene description'] }}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}