{% extends "layout.html" %}

{% block head %} 

<title>Search</title>

{% endblock %}

{% block search %}current{% endblock %}

{% block content %} 

<div class="row other_header">
    <div class="col-12">
        <h1>
            Search
        </h1>
    </div>
</div>

<div class="row content">
    <div class="col-6 form search_form">
        <h3 class="h3_search">Search Subtitles</h3>
        <form action="/search_subtitles" method="POST" target="_blank">
            <input name="movie_name" class="search_field text_input" type="text" placeholder="search subtitles">
        </form>
        <p>After pressing enter, your search results are displayed on the website of opensubtitles. For more information how to get the subtitles, visit the <a class="inline_link" href="{{ url_for('documentation') }}">documentation</a>.</p>
    </div>
    <div class="col-6 form search_form">
        <h3 class="h3_search">Search Script</h3>
        <form action="https://imsdb.com/search.php" method="POST" target="_blank">
            <input class="search_field text_input" type="text" placeholder="search script" name="search_query">
        </form>
        <p>When pressing enter on your keyboard your search query is sent to IMSDb. The movies scripts containing your search query are shown. For more information visit the <a class="inline_link" href="{{ url_for('documentation') }}">documentation</a>.</p>
    </div>
</div>

<div class="row content">
    <div class="col-8 body_text search_text">
        <h2>What to do after finding the movies</h2>
        <p>
            On <a class="inline_link" href="https://www.opensubtitles.com/en">OpenSubtitles</a> you can download a .srt file. 
            On <a class="inline_link" href="https://imsdb.com/">IMSDb</a> you cannot simply download a text file, unfortunately. You can open a webpage 
            containing the script, but you cannot download it as a text file file. In order to get a text file you have to copy and paste 
            the text. This file can be uploaded to our website. However, you can use the URL of the script as well. Copy that URL from IMSDb and go to
            the script generator. Clicking the "use URL" button will make a text field appear (sometimes you have to click twice though). Paste the URL in the text field.
        </p>
    </div>
</div>


{% endblock %}